= bootstrap_form_for(@type, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-5') do |f|
  = f.text_field :name, label: 'Name'

  .btn-toolbar
    = link_to 'Back', types_path, class: 'btn btn-info'
    = f.submit 'Save', class: 'btn btn-success'
