%td= link_to type.name, type
%td.text-right
  = link_to '', type_path(type), class: 'btn btn-xs btn-default glyphicon glyphicon-eye-open', title: 'Show'
  = link_to '', edit_type_path(type), class: 'btn btn-xs btn-default glyphicon glyphicon-pencil', title: 'Edit' if policy(:type).edit?
  = link_to '', type_path(type), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger glyphicon glyphicon-remove', title: 'Delete' if policy(:type).destroy?
